:root {
    --back-color: #EEF9BF;
    --text-color: #75B79E;
    --card-color: #A7E9AF;
    --card-border-color: #99CEA8;
}

#new-game{
    display: none;
    width: 100%;
    height: 100%;
}

.background-scenario{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--back-color);
    height: 100vh; /*Obs: Change to dynamic on mobile phone*/
}

.background-scenario>header{
    color: var(--text-color);
    font-weight: 700;
    font-size: 56px;
    top: 40px;
    margin-bottom: 7.47vh;
    text-align: center;
}

.background-scenario>main{
    margin-right: 97px;
    margin-left: 97px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    max-width: 1000px;
}


.back-parrots{
    width: 117px;
    height: 146px;
    background-color: var(--card-color);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right:17px;
    margin-left:17px;
    margin-bottom: 34px;
    box-sizing: border-box;
    border: 1px solid var(--card-border-color);
    border-radius: 5px;
}

img{
    width: 100px;
    height: 100px;
    user-select: none;
}

.background{
    position: fixed;
    top: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.3);
}


.game-settings{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 25vw;
    min-width: 200px;
    max-width: 400px;
    height: 10vh;
    max-height: 150px;
    min-height: 120px;
    background-color: var(--back-color);
    border-radius: 5px;
    justify-content: space-between;
}

.game-settings>#difficulty{
    color: var(--text-color);
    font-weight: 600;
    font-size: 18px;
    text-align: center;
    margin-top: 10px;
}

.game-settings>input{
    width: 50%;
    text-align: center;
    background-color: rgb(231, 231, 202);
    border: 1px solid var(--card-border-color);
    box-sizing: border-box;
    border-radius: 10px;
    height: 25px;
}
.game-settings>input:focus{
    outline: 0;
    caret-color: black;
}


.game-settings>button{
    background-color: var(--card-color);
    border: 1px solid var(--card-border-color);
    box-sizing: border-box;
    width: 50%;
    margin-bottom: 4%;
    border-radius: 8px;
    height: 25px;
}
.game-settings>button:hover{
    transition: 100ms;
    transform: translate(1px, -1px);
    box-shadow: -1px 1px 0.5px rgb(142, 168, 118);
}
.game-settings>button:active{
    transition: 50ms;
    box-shadow: 0 0 0;
    transform: translate(-1px, 1px);
}


#in-game{

    display: block;
}

.in-game-card{
    width: 117px;
    height: 146px;
    background-color: var(--card-color);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right:17px;
    margin-left:17px;
    margin-bottom: 34px;
    box-sizing: border-box;
    border: 1px solid var(--card-border-color);
    border-radius: 5px;
}

.in-game-background{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--back-color);
    height: 100vh; /*Obs: Change to dynamic on mobile phone*/
}

.in-game-background>header{
    color: var(--text-color);
    font-weight: 700;
    font-size: 56px;
    top: 40px;
    margin-bottom: 7.47vh;
    text-align: center;
}

.in-game-background>main{
    margin-right: 97px;
    margin-left: 97px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    max-width: 1000px;
}




#end-game{
    display: none;
}