:root {
    --back-color: #EEF9BF;
    --text-color: #75B79E;
    --card-color: #A7E9AF;
    --card-border-color: #99CEA8;
    --show-up-animation: 1s;
}

@keyframes show-up {
    0% {transform: translateY(-600px);}
    100% {transform: translate(0px);}
}

@keyframes red-alert{
    50%{color: red;}
    100% {color: none;}
}

@keyframes flip-card{

}

/*NEW-GAME*/

#new-game{
    width: 100%;
    height: 100%;
}

.background-scenario{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--back-color);
    min-height: 100vh;
    height: 100%; /*Obs: Change to dynamic on mobile phone*/
}

.background-scenario>header{
    color: var(--text-color);
    font-weight: 700;
    font-size: 56px;
    margin-top: 40px;
    top: 40px;
    margin-bottom: 7.47vh;
    text-align: center;
}

.background-scenario>main{
    margin-right: 97px;
    margin-left: 97px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    max-width: 1000px;
}


.back-parrots{
    width: 117px;
    height: 146px;
    background-color: var(--card-color);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right:17px;
    margin-left:17px;
    margin-bottom: 34px;
    box-sizing: border-box;
    border: 1px solid var(--card-border-color);
    border-radius: 5px;
}

img{
    width: 100px;
    height: 100px;
    user-select: none;
}

.background{
    position: fixed;
    top: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.3);
    transition: all .6s linear;
}

.game-settings{
    animation: show-up;
    animation-duration: var(--show-up-animation);
    animation-timing-function: ease-out;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 25vw;
    min-width: 200px;
    max-width: 400px;
    height: 10vh;
    max-height: 150px;
    min-height: 120px;
    background-color: var(--back-color);
    border-radius: 5px;
    justify-content: space-between;
    border: 1px solid var(--card-border-color);
}

.game-settings>.difficulty{
    color: var(--text-color);
    font-weight: 600;
    font-size: 18px;
    text-align: center;
    margin-top: 10px;
}


.game-settings>input{
    width: 50%;
    text-align: center;
    background-color: rgb(231, 231, 202);
    border: 1px solid var(--card-border-color);
    box-sizing: border-box;
    border-radius: 10px;
    height: 25px;
}
.game-settings>input:focus{
    outline: 0;
    caret-color: black;
}


.game-settings>button{
    background-color: var(--card-color);
    border: 1px solid var(--card-border-color);
    box-sizing: border-box;
    width: 50%;
    margin-bottom: 4%;
    border-radius: 8px;
    height: 25px;
}
.game-settings>button:hover{
    transition: 100ms;
    transform: translate(1px, -1px);
    box-shadow: -1px 1px 0.5px rgb(142, 168, 118);
}
.game-settings>button:active{
    transition: 50ms;
    box-shadow: 0 0 0;
    transform: translate(-1px, 1px);
}


/* IN-GAME */


.in-game-background{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--back-color);
    min-height: 100vh;
    height: 100%; /*Obs: Change to dynamic on mobile phone*/
}

.in-game-background>header{
    color: var(--text-color);
    margin-top: 80px;
    font-weight: 700;
    font-size: 56px;
    top: 40px;
    margin-bottom: 7.47vh;
    text-align: center;
}

.in-game-background>main{
    margin-right: 97px;
    margin-left: 97px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    max-width: 1000px;
}

.in-game-card{
    width: 117px;
    height: 146px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right:17px;
    margin-left:17px;
    margin-bottom: 34px;
    position: relative;
}

.face:hover{
    transition: 0;
    border: 4px solid var(--card-border-color);
    box-sizing: border-box;
    border-radius: 3px;
}

.face{
    width: 100%;
    height: 100%;
    background-color: var(--card-color);
    box-sizing: border-box;
    border: 1px solid var(--card-border-color);
    border-radius: 5px;
    display: flex;
    position: absolute;
    justify-content: center;
    align-items: center;
    transition: transform .5s;
    transform-style: preserve-3d;
    backface-visibility: hidden;
    overflow: hidden;
}

.timer{
    position: fixed;
    right: 20px;
    top: 30px;
    width: 80px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}



/*END-GAME*/

.background-end-game-div{
    position: fixed;
    top: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.3);
}

.end-game-box{
    animation: show-up;
    animation-duration: var(--show-up-animation);
    animation-timing-function: ease-out;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 25vw;
    min-width: 200px;
    max-width: 400px;
    height: 10vh;
    max-height: 150px;
    min-height: 120px;
    background-color: var(--back-color);
    border-radius: 5px;
    justify-content: space-between;
    border: 2px solid var(--card-border-color);
}

.end-game-box>#congrats{
    margin-top: 10px;
    color: var(--text-color);
    font-size: 25px;
    text-align: center;
    font-weight: 500;
}

.end-game-box>#play-again-button{
    background-color: var(--card-color);
    border: 1px solid var(--card-border-color);
    box-sizing: border-box;
    width: 50%;
    margin-bottom: 4%;
    border-radius: 8px;
    height: 25px;
}
.end-game-box>#play-again-button:hover{
    transition: 100ms;
    transform: translate(2px, -2px);
    box-shadow: -1px 1px 0.5px rgb(142, 168, 118);
}
.end-game-box>#play-again-button:active{
    transition: 50ms;
    box-shadow: 0 0 0;
    transform: translate(-1px, 1px);
}
.end-game-box>#play-again-button>ion-icon{
    font-size: 12px;
}

#time-spent{
    text-align: center;
}

/* js animation & properties change */

.red-alert-animation{
    animation: red-alert;
    animation-timing-function: ease-out;
    animation-duration: 1s;
}

.reset-display{
    display: none;
}

.back-image{
    transform: rotateY(180deg);
}

.fronty{
    transform: rotateY(-180deg)
}

.unclickable{
    pointer-events: none;
}

.found-pair{
    pointer-events: none;
}

/* media querys */
@media(max-width: 570px)
{
    .in-game-background>header{
        font-size: 40px;
    }
    .background-scenario>header{
        font-size: 40px;
    }
}
@media (max-width: 400px)
{
    .in-game-background>header{
        font-size: 36px;
    }
    .background-scenario>header{
        font-size: 36px;
    }
}
@media (max-width: 335px)
{
    .in-game-background>header{
        width: 312px;
        margin-top: 40px;
        box-sizing: border-box;
        margin-right: 12px;
        margin-left: 12px;
    }

    .timer{
        right: 0px;
        top: 2px;
    }
}